<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-09-07T02:50:14Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nobuhiro/Documents/source/openframeworks/of_v0.11.0_osx_release/apps/myApps/test_vboSet_2/test_vboSet_2.xcodeproj</string>
</dict>
</plist>
